# Server
PORT=3003

# Redis
REDIS_ENABLED=true
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_HOBBY_PRICE_ID=price_hobby
STRIPE_PRO_PRICE_ID=price_pro
STRIPE_ENTERPRISE_PRICE_ID=price_enterprise
STRIPE_BANDWIDTH_PRICE_ID=price_bandwidth
STRIPE_BUILD_MINUTES_PRICE_ID=price_build_minutes
STRIPE_INVOCATIONS_PRICE_ID=price_invocations
