# Server
PORT=3005

# Redis
REDIS_ENABLED=true
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Builder
BUILDER_MODE=local
BUILDER_TEMP_DIR=/tmp/deployx-builds
BUILDER_REGISTRY=registry.deployx.app

# Default domain for deployments
DEFAULT_DOMAIN=deployx.app
